VITE_USE_EMULATOR=true

VITE_FIREBASE_API_KEY=demo-api-key
VITE_FIREBASE_AUTH_DOMAIN=demo-notebook.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=demo-notebook
VITE_FIREBASE_STORAGE_BUCKET=demo-notebook.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=000000000000
VITE_FIREBASE_APP_ID=1:000000000000:web:demo
